.topbar {
    background: DodgerBlue;
    color: white;
}

.topbar a {
    color: white;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.secondNavItem {
	border:0 1px solid black;
}

.logo {
	background:white;
	color:black;
	height: 50px;
	width:70px;
	border-radius:8px;
	padding:0px 8px;
	font-weight:bold;
}

.customShadow {
	-webkit-box-shadow: 0 5px 6px -6px black;
	-moz-box-shadow: 0 5px 6px -6px black;
	box-shadow: 0 5px 6px -6px black;
}

.CategoryCard {
	border:none;
	border-radius:75%;
}

.CategoryCard img {
	height:80px;
	width:80px;
}

.footer {
	width: 100%;
	background:whitesmoke;
	padding:10px;
	color:DimGrey;
}

.viewAllProdcutCard {
	margin-top:120px;
}